<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random recipe</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <main>
        <h1><%= data.title %></h1>
        <img src="<%= data.image %>"><br><hr>
        <%- data.summary %>
        <hr>
        <h3>Ingrediencs</h3>
        <% for(var i = 0; i < ingredients.length; i++) { %>
            <li><%= ingredients[i].name %> - <%= ingredients[i].ammount %></li>
        <% } %>
        <br>
        <hr>
        <%- data.instructions %>
    </main>
    
</body>
</html>